.search-container {
  margin: 1rem;
  display: flex;
  align-items: center;

  &-input {
    width: 100%;
    @include body-L;
    background-color: transparent;
    color: $white;
    border: 1px solid transparent;
    outline: none;
    &:focus {
      border-bottom: 1px solid $white;
      outline: none;
      caret-color: $orange;
    }

    @include tablet {
      width: 90%;
      @include heading-M;
    }

    @include desktop {
      width: 80%;
    }
  }

  &-icon {
    margin-right: 0.25rem;
    @include tablet {
      margin-right: 1rem;
    }
  }
}
