.smallerCard {
  height: 154px;
  color: $white;
  position: relative;
  cursor: pointer;

  @include tablet {
    height: 140px;
  }
  @include desktop {
    width: 280px;
    height: 226px;
  }

  &-img-container {
    background-color: $navy;
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    &:hover > &--play {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &-title {
    color: $white;
    @include heading-XS;
    margin: 0.5rem 0;
    margin-bottom: 15rem;
  }

  &__text {
    @include body-XS;

    @include tablet {
      @include body-S;
    }
  }

  &--bookmark {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../../assets/icon-bookmark-empty.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-image: url(../../assets/icon-bookmark-full.svg);
      fill: $black !important;
    }
  }

  &--play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    border-radius: 50px;
    transition: transform 0.4s ease-in-out;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span {
      color: $white;
      @include body-M;
    }
  }

  .smallerCard-img-container:hover {
    & .smallerCard--play {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.container-row {
  width: 100%;
  @include tablet {
    width: 100%;
  }
}
