@font-face {
  font-family: 'Outfit-Medium';
  src: url(../../assets/fonts/Outfit/static/Outfit-Medium.ttf);
}
@font-face {
  font-family: 'Outfit-light';
  src: url(../../assets/fonts/Outfit/static/Outfit-Light.ttf);
}
